
# Created by https://www.gitignore.io/api/macos

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon
# Thumbnails
._*
# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

.config/.mono
.config/composer
.config/configstore
.config/fisher
.config/gocode
.config/NuGet
.config/nvim_back
.config/robomongo
.config/stetic
.config/xbuild
.config/fish/completions
.config/fish/conf.d
.config/fish/fishfile
.config/fish/functions
fishd.c4b301c57d0b
.config/nvim
.config/coc
projectile-bookmarks.eld
.emacs.d/straight
.lsp-session-v1
amx-items
recentf
history.el
bookmarks
.emacs.d/url/cache/takuma/https/com/duckduckgo
.emacs.d/url/cache/takuma/https/org/python/www
.config/yarn
.emacs.d/.cache
.emacs.d/persp-confs
